commands:
  setup:
    command: 'sudo mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    command: 'sudo chown -R root:root /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/setup.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/elasticbeanstalk/support/envvars
      sudo mkdir -p /var/app/current/var/cache
      sudo mkdir -p /var/app/current/var/log
      sudo find /var/app/current/ -type d -exec chmod 755 -v {} \;
      sudo find /var/app/current/ -type f -exec chmod 644 -v {} \;
      sudo find /var/app/current/var/cache/ -exec chmod 777 -v {} \;
      sudo find /var/app/current/var/log/ -exec chmod 777 -v {} \;
      sudo find /var/app/current/ -exec chown webapp:webapp -v {} \;